body, html{
    width: 100%;
    height: 100%;
}

.btn-secondary.dropdown-toggle:focus{
    box-shadow:0 0 0 .25rem rgb(177, 229, 250);
}

.btn-secondary:focus{
    color:#fff;
    background-color:rgb(177, 229, 250);
    box-shadow:0 0 0 .25rem rgb(177, 229, 250);
    border-color: rgb(177, 229, 250);
}

.btn:hover{
    background-color:rgb(177, 229, 250);
    border-color: rgb(177, 229, 250);
}
    
.btn{
    width: 190px;
    height: 45px;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(0, 183, 255);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.btn-caixa{
    border-radius: 6px 0px 0px 6px;
}

.btn-vendas{
    border-radius: 0px 0px 0px 0px;
}

.btn-produtos{
    border-radius: 0px 0px 0px 0px;
}

.btn-usuarios{
    border-radius: 0px 0px 0px 0px;
}

.btn-clientes{
    border-radius: 0px 6px 6px 0px;
}

.dropdown-menu{
    width: 260px;
    border-color: rgb(177, 229, 250);
}

.div-conteudo{
    margin-left: 2.2%;
    margin-top: 1%;
    width: 1293px;
    height: 750px;
    border-radius: 1%;
    background-color: rgb(255, 255, 255);
}

.logobessa{
    float: left;
    width: 60px;
    height: 60px;
}

.login{
    margin-left: 1140px;
    margin-top: 4px;
    width: 60px;
    height: 60px;
}

.inputValores{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    width: 300px;
    height: 500px;
}

.tabela-venda{
    padding-top: 15%;
    margin-left: 10px;
    width: 900px;
    height: 100px;
}

.btnVenda{
    margin-top: 30px;
}

.inputTotalStatic{
    margin-top: 520px;
}

.campotexto{
    width: 280px;
}

.meu-menu{
    padding: 10px;
    width: 100%;
    height: 10%;
}