{% extends 'base.html' %}

{% block title %}
{{ super() }} - Adicionar Produto
{% endblock title %}


{% block main %}

<!-- <p class="ocultar nivel">{{current_user.nivel_acesso}}</p>


<div class="container hider" align="center"> -->


<div class="container" align="center">

  <!-- Modal Medida -->
  <div class="modal fade" id="medidas" tabindex="-1" role="dialog" aria-labelledby="medidasLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="medidasLabel">Nome da Medida</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="/add_medida" method="POST">
            <div class="form-group col-md-4">
              <label class="fill2" for="nome_medida">Medida:</label>
              <input type="text" style="text-transform:uppercase" class="form-control convertePMaiuscula" id="nome_medida" name="nome_medida" required onchange="converteParaMaiuscula()" maxlength="30">
            </div>
            <button type="submit" class="btn btn-primary" onclick="pega_valor()">Adicionar Medida</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </form>
        </div>



        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Adicionar Medida</button>
        </div> -->



      </div>
    </div>
  </div>


<p></p>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      
      {% if message %}
        <p id="produto_ja_existe" class="hider">{{message}}</p>
        <script>
          produto_ja_existe = document.getElementById('produto_ja_existe')
          alert(produto_ja_existe.innerText)
        </script>
      {% endif %}
    {% endfor %} 
    </ul>
  {% endif %}
{% endwith %}



  <!-- <script src="{{ url_for('static', filename='js/verifica_acesso.js')}}"></script> -->

</div>



<div class="container" align="center">
  <h1 align="center" class="fill2">Medidas Cadastradas</h1>
  <table border="1" width="70%" class="table table-striped">
    <thead>
      <tr>
        <th class="fill2">Medidas</th>
      </tr>
    </thead>
    <tbody>
      {% for m in medidas %}
      <tr>
        <td>{{m.nome_medida}}</td>
        <td>
          <a class="edit" data-toggle="modal" data-target="#modalExemplo" onclick="setaDadosModal('{{m.id}}')">
            <img src="{{url_for('static', filename='images/editar.png')}}">
          </a>
        </td>
        <!-- <td>
          <a class="delet" href="/deletar_medida/{{m.id}}">
            <img src="{{url_for('static', filename='images/remover.png')}}">
          </a>
        </td> -->

      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#medidas">
    Adicionar Medida
  </button>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      
      {% if message %}
        <p id="medida_ja_existe" class="hider">{{message}}</p>
        <script>
          medida_ja_existe = document.getElementById('medida_ja_existe')
          alert(medida_ja_existe.innerText)
        </script>
      {% endif %}
    {% endfor %} 
    </ul>
  {% endif %}
{% endwith %}

</div>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">

  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar Medida</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form id="EditMeasures" action="" method="POST">

        <div class="form-group col-md-7">
          <label for="id_medida">Medidas:</label>
          <input type="text" style="text-transform:uppercase" id="nome_medida" name="nome_medida">
        </div>

        <input type="hidden" style="text-transform:uppercase" id="idMedida" name="idMedida">

          <a href="/medidas_cadastradas"><button type="button" class="btn btn-danger">Cancelar</button></a>
          <button type="submit" class="btn btn-dark">Alterar Medida</button>
      </form>
  </div>
  </div>
  <div class="modal-footer">

  </div>

  </div>
</div>
</div>

<script>
function setaDadosModal(valor) {
  document.getElementById('idMedida').value = valor;
}
$(".edit").click(function () {
  route = "/edit_medida/" + document.getElementById('idMedida').value;
  $.get(route, function (retorno) {
    var obj = JSON.parse(retorno);
    document.getElementById('nome_medida').value = obj.nome_medida
    $('#EditMeasures').attr('action', route);
  });
});
</script>



{% endblock main %}