{% extends 'base.html' %}

{% block title %}
{{ super() }} - Categoria
{% endblock title %}


{% block main %}

<div class="container" style align="center">

    <h1 align="center" class="fill2">Detalhes da Vendas</h1>
    <table border="1" width="70%" class="table table-striped">
      <thead>
        <tr>
          <th class="fill2">#</th>
          <th class="fill2">Descrição</th>
          <th class="fill2">Vl. Unitário</th>
          <th class="fill2">Desconto</th>
          <th class="fill2">Quantidade</th>
          <th class="fill2">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for v in produtos_venda %}
        <tr>
          <td>{{v.id}}</td>
          <td>{{v.descricao_produto}}</td>
          <td>{{v.valor_produto}}</td>
          <td>{{v.valor_desconto}}</td>
          <td>{{v.quantidade_produto}}</td>
          <td>{{v.valor_total}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock main %}