{% extends 'base.html' %}


{% block title %}
    {{ super() }} - Medidas Cadastradas
{% endblock title %}


{% block main %}


 
<div class="container" align="center">
    <h1 align="center" class="fill2">Medidas Cadastradas</h1>
    <table border="1" width="70%" class="table table-striped">
      <thead>
        <tr>
          <th class="fill2">Medidas</th>
        </tr>
      </thead>
      <tbody>
        {% for m in medidas %}
        <tr>
          <td>{{m.medidas}}</td>
          <td>
            <a class="edit" data-toggle="modal" data-target="#modalExemplo" onclick="setaDadosModal('{{m.id}}')">
              <img src="{{url_for('static', filename='images/editar.png')}}">
            </a>
          </td>
          <td>
            <a class="delet" href="/deletar_medida/{{m.id}}">
              <img src="{{url_for('static', filename='images/remover.png')}}">
            </a>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</div>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Medida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="EditMeasures" action="" method="POST">

          <div class="form-group col-md-7">
            <label for="id_medida">Medidas:</label>
            <select class="form-control" aria-label="Default select example" id="id_medida_select">
              {% for m in medidas %}
              <option value="{{m.id}}">{{m.nome_medida}}</option>
              {% endfor %}
            </select>
          </div>

            <a href="/medidas_cadastradas"><button type="button" class="btn btn-danger">Cancelar</button></a>
            <button type="submit" class="btn btn-dark">Alterar Medida</button>
        </form>
    </div>
    </div>
    <div class="modal-footer">

    </div>

    </div>
  </div>
</div>

<script>
  function setaDadosModal(valor) {
    document.getElementById('idMedida').value = valor;
  }
  $(".edit").click(function () {
    route = "/edit_medida/" + document.getElementById('idMedida').value;
    $.get(route, function (retorno) {
      var obj = JSON.parse(retorno);
      $('#id_medida_select').val(obj.id_medida_id);
      document.getElementById('id_medida_id').value = obj.id_medida_id
      $('#EditMeasures').attr('action', route);
    });
    $('#id_medida_select').on('change', function () {
      document.getElementById('id_medida_id').value = this.value
    });
  });
</script>

{% endblock main %}
    