<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Vendas</title>
    <link rel="shortcut icon" href="../static/img/logoBessa.png">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    
    <div class="container-modal">
        <div class="row">
            <div class="col-">
                <form class="principal">
                    <img src="../static/img/logoBessa.png" class="logobessa">
                    <img src="../static/img/login.png" class="login">
                    
                    <div class="dropdown">

                        <button class="btn btn-secondary dropdown-toggle btn-vendas" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Caixa
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Abertura</button></li>
                            <li><button class="dropdown-item" type="button">Fechamento</button></li>
                        </ul>

                        <button class="btn btn-secondary dropdown-toggle btn-vendas" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Vendas
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Nova Venda</button></li>
                            <li><button class="dropdown-item" type="button">Vendas Anteriores</button></li>
                        </ul>

                        <button class="btn btn-secondary dropdown-toggle btn-produtos" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Produtos
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Cadastrar Produto</button></li>
                            <li><button class="dropdown-item" type="button">Estoque</button></li>
                        </ul>

                        <button class="btn btn-secondary dropdown-toggle btn-usuarios" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuários
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Cadastrar Usuário</button></li>
                            <li><button class="dropdown-item" type="button">Usuários Cadastrados</button></li>
                        </ul>

                        <button class="btn btn-secondary dropdown-toggle btn-clientes" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Cadastrar Clientes</button></li>
                            <li><button class="dropdown-item" type="button">Clientes Cadastrados</button></li>
                        </ul>
                    </div>

                    <div class="div-conteudo">

                        

                            <div class="inputValores">
                            <form action="/add_prod_venda" method="POST"></form>
                                <p>Quantidade <br>
                                    <input type="text" class="campotexto" id="quantidade_prod" name="quantidade_prod">
                                </p>
                                <p>Cod. de Barras <br>
                                    <input type="text" class="campotexto" id="cod_barras" name="cod_barras">
                                    <input type="hidden" id="id_venda" name="id_venda" value = 116>
                                </p>   
                                <p>
                                    <button type="submit" class="btn btn-primary">Adicionar Item</button>
                                </p>
                            </form>
                                <p style="margin-top: 150px;">
                                    Total: 
                                    <input type="number" class="">
                                </p>
                                <p>
                                    <button>Cancelar Item</button>
                                    <button>Descontar Item</button>
                                </p>
                                <p>
                                    <button>Cancelar Venda</button>
                                    <button>Finalizar Venda</button>
                                </p>           
                                
                        
                            </div>
                    
                            <table class="table tabela-venda">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>                                    
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Vl. Unitário</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Desconto</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Alterar back</th>
                                    <td>Descrição</td>
                                    <td>Vl. Unitário</td>
                                    <td>Quantidade</td>
                                    <td>Desconto</td>
                                    <td>Total</td>
                                </tr>
                                </tbody>
                            </table>
                    
                            

                        

                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="../static/bootstrap/js/bootstrap.popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>