    {% extends 'base.html' %}


    {% block title %}
        {{ super() }} - Usuários Cadastrados
    {% endblock title %}
    
    
    {% block main %}
    <div class="container-modal">
        <div class="row">
            <div class="">                
                <div class="div-conteudo">
                    <div class="inputValores">
                        <form action="/add_prod_venda" method="POST">
                            <p>Quantidade <br>
                                <input type="text" class="campotexto" id="quantidade_prod" name="quantidade_prod" required>
                            </p>
                            <p>Cod. de Barras <br>
                                <input type="text" class="campotexto" id="cod_barras" name="cod_barras" required>
                                <input type="hidden" id="id_venda" name="id_venda" value={{venda}}>
                            </p>
                            <p>
                                <button type="submit" class="btn btn-primary">Adicionar Item</button>
                            </p>
                        </form>
                        <p style="margin-top: 150px;">
                            Total:
                            <input type="number" class="" value="{{vltotal}}" disabled="disabled">
                        </p>
                        <p>
                            <a href="/cancelar_venda/{{venda}}"><button type="button"
                                class="btn btn-danger">Cancelar Venda</button></a>
                                <a href="/fechar_venda/{{venda}},{{vltotal}}"><button type="button"
                                    class="btn btn-danger">Finalizar Venda</button></a>
                        </p>
                    </div>
                    <table class="table tabela-venda">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Vl. Unitário</th>
                                <th scope="col">Desconto(Un.)</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Desconto(Tot)</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in produtos %}
                            <tr>
                                <td>{{p.numero_item}}</td>
                                <td>{{p.descricao_produto}}</td>
                                <td>{{p.valor_produto}}</td>
                                <td>{{p.valor_desconto}}</td>
                                <td>{{p.quantidade_produto}}</td>
                                <td>{{p.valor_desconto * p.quantidade_produto}}</td>
                                <td>{{p.valor_total}}</td>

                                <td>
                                    <a class="edit" data-toggle="modal" data-target="#exampleModal"
                                        onclick="setaDadosModal('{{p.id}}')">
                                        <img src="{{url_for('static', filename='images/editar.png')}}">
                                    </a>
                                </td>

                                <td>
                                    <a class="delet" href="/deletar_produto_venda/{{p.id}}">
                                        <img src="{{url_for('static', filename='images/remover.png')}}">
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> -->





    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Descontar produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="EditProduts" action="" method="POST">
                        <div>
                            <div class="col-md-4">
                                <label for="descricao_produto">Descrição do Produto</label>
                                <input type="text" class="form-control" id="descricao_produto" name="descricao_produto"
                                    disabled="disabled">
                            </div>

                            <div class="col-md-4">
                                <label for="valor_produto">Valor Unitário</label>
                                <input type="text" class="form-control" id="valor_produto" name="valor_produto"
                                    disabled="disabled">
                            </div>

                            <div class="col-md-4">
                                <label for="valor_desconto">Valor de Desconto</label>
                                <input type="text" class="form-control" id="valor_desconto" name="valor_desconto">
                            </div>

                            <div class="col-md-4">
                                <label for="valor_novo_total">Novo Valor</label>
                                <input type="number" class="form-control" id="valor_novo_total" name="valor_novo_total"
                                    disabled="disabled">
                            </div>

                            <input type="hidden" id="idProduto" name="idProduto">

                            <a href="/venda/{{venda}}"><button type="button"
                                    class="btn btn-danger">Cancelar</button></a>
                            <button type="submit" class="btn btn-dark">Salvar</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>

    <script>
        function setaDadosModal(valor) {
            $('#modalExemplo').modal('show');
            document.getElementById('idProduto').value = valor;
        }
        $(".edit").click(function () {
            route = "/edit_produto_venda/" + document.getElementById('idProduto').value;
            $.get(route, function (retorno) {
                var obj = JSON.parse(retorno);
                document.getElementById('valor_desconto').value = obj.valor_desconto;
                document.getElementById('descricao_produto').value = obj.descricao_produto;
                document.getElementById('valor_produto').value = obj.valor_produto;
                $('#EditProduts').attr('action', route);
            });
        });
        $('#valor_desconto').keyup(function () {
            var result = (document.getElementById('valor_produto').value - $(this).val());
            document.getElementById('valor_novo_total').value = result;
        });
        $("#cancelarVenda").click(function () {
            route = "/cancelar_venda/" + document.getElementById('id_venda').value;
            $.post(route);
        });
        $("#finalizarVenda").click(function () {
            $.get("/receivedata", {"myData": myData});
        });
    </script>
{% endblock main %}