{% extends 'base.html' %}


{% block title %}
    {{ super() }} - Usuários Cadastrados
{% endblock title %}


{% block main %}



<div class="container" align="center">
    <h1 align="center" class="fill2" >Usuários Cadastrados</h1>
    <table border="1" width="70%" class="table table-striped">
        <thead>
            <tr>
                <th class="fill2">NOME</th>
                <th class="fill2">TELEFONE</th>
                <th class="fill2">EMAIL</th>
                <th class="fill2">LOGIN</th>
                <!-- <th class="fill2">SENHA</th> -->
                <th class="fill2">STATUS</th>
                <th class="fill2">ID_NIVEL_ACESSO_ID</th>
                <th class="fill2">ATIVO/INATIVO</th>
            </tr>
        </thead>
        <tbody>
            <!-- u = usuario -->
            {% for u in usuarios %}
            <tr>
                <td>{{u.nome}}</td>
                <td>{{u.telefone}}</td>
                <td >{{u.email}}</td>
                <td>{{u.login}}</td>
                <!-- <td>{{u.senha}}</td> -->
                <td>{{u.verificar_status()}}</td>
                <td>{{u.exibir_nivel_acesso()}}</td>
                <td>{{u.verificar_inativado()}}</td>
                <td>
                    <a href="/edit_usuario/{{u.id}}"> <img src="{{url_for('static', filename='images/editar.png')}}"></a>
                    <a href="/deletar_usuario/{{u.id}}"> <img src="{{url_for('static', filename='images/remover.png')}}"></a>
                    
                    {% if u.verificar_status() == 'BLOQUEADO' %}
                        <a href="/desbloquear_usuario/{{u.id}}"><button>DESBLOQUEAR</button></a>
                        {% else %}
                        <a href="/bloquear_usuario/{{u.id}}"><button>BLOQUEAR</button></a>
                    {% endif %}
                    <p></p>
                    
                    {% if u.verificar_inativado() == 'INATIVO' %}
                        <a href="/ativar_usuario/{{u.id}}"><button>ATIVAR USUÁRIO</button></a>
                        {% else %}
                        <a href="/inativar_usuario/{{u.id}}"><button>INATIVAR USUÁRIO</button></a>
                    {% endif %}

                    <p></p>
                    <a href="/resetar_usuario/{{u.id}}"><button>Resetar Senha</button></a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>




    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



</div>

{% endblock main %} 