{% extends 'base.html' %}


{% block title %}
{{ super() }} - Produtos Cadastrados
{% endblock title %}


{% block main %}

<link rel="stylesheet" href="{{url_for('static', filename='css/produtos_cadastrados.css')}}">
<!-- <p class="ocultar nivel">{{current_user.nivel_acesso}}</p>


<div class="container hider" align="center"> -->

<div class="container" style align="center">

  <h1 align="center" class="fill2">Vendas Realizadas</h1>
  <table border="1" width="70%" class="table table-striped">
    <thead>
      <tr>
        <th class="fill2">Id</th>
        <th class="fill2">Data da Venda</th>
        <th class="fill2">Valor Total</th>
        <th class="fill2">Usuario</th>
        <th class="fill2">Cliente</th>
        <th class="fill2">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for v in vendas %}
      <tr>
        <td>{{v.id}}</td>
        <td>{{v.data_venda}}</td>
        <td>{{v.valor_total}}</td>
        <td>{{v.id_usuario_id}}</td>
        <td>{{v.id_cliente_id}}</td>
        <td>{{v.cod_status_venda}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!-- 
<script src="{{ url_for('static', filename='js/verifica_acesso.js')}}"></script> -->
{% endblock main %}
